$laranja-ccmarket:#f86401;
$laranja-ccmarket-claro:#fb8e46;
$footer-background:#0d1b2c;
$laranja-escuro:#f7f3ed;
$fundo-footer:#0d1b2c;

$color_link:#ffffff;
$color_link-hover:#e2e2e2;
$color-link-menu-hover:#e2e2e2;
$btn-whatsapp-hover:#bebebe;
$color-link-menu: #ffffff; 